/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

.services-item {
  border: 1px solid #e7e9fc;
} */
