:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navi-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --white: #ffffff;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.style ul {
  list-style: none;
}

.hide {
  display: none;
}

/* Header */

.header {
  padding: 24px 156px;
  background-color: var(--white);
  border-bottom: 1px solid var(--cornflower);
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--navi-blue);
}

.header-logo span {
  color: var(--iris);
}

.nav-link {
  list-style: none;
  font-weight: 500;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navi-blue);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}

.contact-link {
  font-style: normal;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--ocean);
}
/* /Header */
/* Main */

.hero {
  padding: 188px 50px;
  background-color: var(--navi-blue);
}
.hero-title {
  margin: 0 auto;
  max-width: 496px;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
}

.order-button {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-top: 48px;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.order-button:hover,
.order-button:focus {
  background: var(--ocean);
}

.features-list {
  padding: 0;
  margin: 120px 24px;
  display: flex;
  justify-content: center;
  column-gap: 24px;
}

.feature-item {
  width: 264px;
}

.feature-item p {
  margin-top: 8px;
}

.service-title,
.team-title {
  margin-top: -16px;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navi-blue);
}

.services-list {
  margin-bottom: 120px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
}

.team {
  margin: auto;
  max-width: 1128px;
  background-color: var(--cloud);
}

.team-title {
  padding-top: 120px;
}

.team-list {
  margin: 72px 0 120px 0;
  padding: 0;
}

.team-item {
  width: 264px;
  height: 380px;
  background: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.employee-title {
  padding: 0;
  margin: 26px 0 0 0;
  text-align: center;
}

.employee-position {
  margin: 7px auto 32px;
  padding: 0;
  text-align: center;
}

.employee-title,
.feature-title,
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navi-blue);
}

/* /Main */
/* portfolio */

.services-list,
.team-list,
.filter-list,
.portfolio-list {
  padding: 0;
  max-width: 1128px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
}

.filter-list {
  max-width: none;
}

.filter-button {
  padding: 12px 24px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  border: 1px solid var(--cornflower);
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  border-color: transparent;
  color: var(--white);
  background-color: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  margin: 72px auto 120px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  box-sizing: border-box;
  width: 360px;
  height: 420px;
  overflow: hidden;
  border: 1px solid var(--cornflower);
  background-color: var(--white);
}
.portfolio-item:hover {
  border: 1px solid var(--cloud);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-title {
  margin: 26px 16px 7px 16px;
}

.portfolio-item p,
.employee-item p {
  margin: 0 16px 32px;
}

/* /Portfolio */
/* footer */

.footer {
  background-color: var(--navi-blue);
}

.footer-container {
  padding: 100px 0;
  max-width: 1128px;
}

.footer-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--cloud);
}

.footer-logo span {
  color: var(--iris);
}

.footer p {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cornflower);
}

/* /Footer */
